*{
    margin: 0;
}

  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
#image-holder{
    width: 20rem;
    height:20rem;
}
body{
    background-color:#121212 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main{
    flex:1;
}


#fake-person{
    width:20rem;
    border-radius: 50%;
    box-shadow: 0 4px 1rem 4px rgba(0, 0, 0, 0.2);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5rem;
    border: solid transparent 0.1rem;
    padding: 2rem;
    border-radius: 3%;
    background-color: #1E1E1E;
    color: #E0E0E0;
    font-family: lato;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex: 1 0;
}
#next-question{
    background-color:transparent ;
    color: #FFFFFF;
    width: 10rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem #BB86FC solid;
}

#next-question:hover{
    background-color:#BB86FC ;
    color:#121212;
}

#mode-div {
    align-self: flex-end;
    margin-right: 1rem;
    height:3rem;
}
#mode-button{
    background-color: transparent;
    border: transparent 0.1rem solid;
    border-radius: 1rem;
    margin:2rem 0.5rem 0 0;
    
}

#mode-button:hover{
    background-color: #E0E0E0;
}
#mode-button img{
    padding-top: 0.1rem;
    height: 3rem;
    

}
#question-div{
    height: 9rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    
}


/* light Mode */

.light-body{
    background-color:#F5F5F5 !important;
}

.light-container{
     background-color:#FFFFFF !important; 
    color:#333333 !important;
}

.light-button{
    border: 0.1rem #6200EE solid !important;
    color:#121212 !important;
}

.light-button:hover{
    background-color: #6200EE !important;
    color:#FFFFFF !important;
}

.light-footer{
    color:#B0B0B0 !important;

}

footer{
    color: #555555;
    font-family: Lato;
    height: 2rem;
    align-self: flex-start;
}
footer p{
    padding-left: 1rem;
}



/*
### **Dark Mode:**
- `#121212` - **Background**
- `#1E1E1E` - **Element Background**
- `#E0E0E0` - **Text**
- `#BB86FC` - **Button Background**
- `#FFFFFF` - **Button Text**
- `#333333` - **Border**

### **Light Mode:**
- `#F5F5F5` - **Background**
- `#FFFFFF` - **Element Background**
- `#333333` - **Text**
- `#6200EE` - **Button Background**
- `#FFFFFF` - **Button Text**
- `#E0E0E0` - **Border**
test
*/

@media only screen and (max-width: 600px) {
    #mode-div{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    footer{
        margin:0.3rem;
        font-size: 0.8rem;

    }
    #container{background-color: transparent;}
    .light-container{background-color: transparent !important;}

  }